VITE_UIPATH_CLIENT_ID=your-oauth-client-id
VITE_UIPATH_ORG_NAME=uipathlabs
VITE_UIPATH_TENANT_NAME=Playground
VITE_UIPATH_BASE_URL=https://api.uipath.com
VITE_UIPATH_REDIRECT_URI=http://localhost:5173
VITE_UIPATH_SCOPE=OR.Administration OR.Execution.Read OR.Jobs OR.Jobs.Read OR.Jobs.Write OR.Tasks OR.Tasks.Read OR.Tasks.Write PIMS DataFabric.Schema.Read DataFabric.Data.Read DataFabric.Data.Write
